@model MVCSampleProject.Models.Account

@{
    Layout = null;
}
@ViewBag.Message
@TempData["ErrorMessage"]
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Style/AccountPage.css")" rel="stylesheet" type="text/css" />*@
</head>
<body>

    <div class="account_form">
        <div style="text-align: center;">
            <h1>Login</h1>
        </div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form_body">
                <div class="form-group col-xl-3 m-auto mt-1">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "Username" })

                </div>
                <div class="form-group col-xl-3 m-auto mt-1">
                    @Html.LabelFor(m => m.UserPassword)
                    @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control", @placeholder = "Password" })
                </div>
                <div class="form-group mt-5" style="text-align: center;" >
                    <input type="submit" name="submit" class="btn btn-danger" value="Login" />
                </div>
            </div>
        }
        <div class="form-group mt-1" style="text-align: center;">
            Don't have an account?
            @Html.ActionLink("Sign Up", "SignUp")
        </div>

    </div>

</body>
</html>
