@model MVCSampleProject.Models.Account

@{
    ViewBag.Title = "ChangeRole";
}

<h2>ChangeRole</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Account</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.UserPassword)

<table class="table w-25 m-auto form-group">
    <tr class="form-group">
        <td>User ID</td>
        <td>@Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })</td>
    </tr>
    <tr class="form-group">
        <td>User Name</td>
        <td>@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })</td>
    </tr>
    <tr class="form-group">
        <td>User ID</td>
        <td>@Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })</td>
    </tr>
    <tr class="form-group">
        <td>User Name</td>
        <td>@Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
    </tr>
    <tr class="form-group">
        <td class="fw-bold">Role</td>
        <td class="fw-bold">@Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control text-primary" })</td>
    </tr>
    <tr class="form-group">
        <td colspan="2" style="text-align: center;">
            <input type="submit" value="Save" class="btn btn-danger" />
        </td>
    </tr>
</table>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
