@model MVCSampleProject.Models.Account
@{
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyProfile</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

@if (Model != null)
{
    <body>
        <div class="container-fluid" style="text-align: center;">
            <img src=@Model.Avatar alt="avatar"
                 class="rounded-circle img-fluid m-auto" style="width: 12em; height: 12em; object-fit: contain; border: 1px solid grey; text-align: center;">
            <table class="table w-25 m-auto" style="text-align: left;">
                <tr>
                    <td class="w-50">User ID</td>
                    <td class="fw-bold">@Model.UserID</td>
                </tr>
                <tr>
                    <td>User Name</td>
                    <td class="fw-bold">@Model.UserName</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td class="fw-bold">@Model.phone</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td class="fw-bold">@Model.email</td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td class="fw-bold">@Model.UserRole.RoleName</td>
                </tr>
                <tr class="form-group">
                    <td colspan="2" style="text-align: center;">
                        @Html.ActionLink("Log out", "Logout", "Account", new { area = "" }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-remove" })
                    </td>
                </tr>
            </table>
        </div>
    </body>

}
else
{
    <h3 style="text-align: center;">You not loged in yet! <a href="/Account/Login">Login now!</a></h3>
}

</html>
