@model IEnumerable<MVCSampleProject.Models.Product>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Style/IndexPage.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main_container">
        @* Category *@
        <div class="Category">
            <p class="category_btn">@Html.ActionLink("Home", "Index", new { id = 1 }, new { @class = "btn" })</p>
            <p class="category_btn">@Html.ActionLink("Accessories", "Index", new { id = 2 }, new { @class = "btn" })</p>
            <p class="category_btn">@Html.ActionLink("Desktop", "Index", new { id = 3 }, new { @class = "btn" })</p>
            <p class="category_btn">@Html.ActionLink("IP Phone", "Index", new { id = 4 }, new { @class = "btn" })</p>
            <p class="category_btn">@Html.ActionLink("Laptop", "Index", new { id = 5 }, new { @class = "btn" })</p>
            <p class="category_btn">@Html.ActionLink("Monitor", "Index", new { id = 6 }, new { @class = "btn" })</p>
            <p class="category_btn">@Html.ActionLink("Server", "Index", new { id = 7 }, new { @class = "btn" })</p>
            <p class="category_btn">
                @Html.ActionLink(
                linkText: "Log Out",
                actionName: "Logout",
                controllerName: "Account",
                routeValues: new { area = "" },
                htmlAttributes: new { @style = "color: red; font-weight: bold;" })
                )
            </p>

        </div>

        @* item *@
        <div class="Item">
            @*@foreach (var item in Model)
            {
                <div class="item_container">
                    <div>
                        <p class="name_label">@Html.DisplayFor(modelItem => item.ProductName)</p>
                        <p>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                    <div>
                        <p>
                            @Html.LabelFor(modelItem => item.inStock, htmlAttributes: new { }):
                            @Html.DisplayFor(modelItem => item.inStock)
                        </p>
                    </div>
                </div>
            }*@
            <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/product-5806313-4863042.png" class="card-img-top" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNOJyuG1RkjAB8gc4P1HwO1KFi8K3uWJBxb-k0iNGsnT-6350BDWOaAxcYgGCX12ftrH0&usqp=CAU">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
            <ul class="pagination justify-content-center">
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Products/Index?page=@(i+1)">@(i+1)</a>
                    </li>
                }
            </ul>
        </div>

    </div>
</body>
</html>


