@model IEnumerable<MVCSampleProject.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/Style/IndexPage.css")" rel="stylesheet" type="text/css" />
    <div class="header_bar">
        &nbsp FPTS Inventory status
    </div>
</head>
<body>
    
    <div class="main_container">
        @* Category *@
        <div class="Category">
            <p class="category_btn">@Html.ActionLink("Home", "Index", new { Category_id = 1 })</p>
            <p class="category_btn">@Html.ActionLink("Accessories", "Index", new { Category_id = 2 })</p>
            <p class="category_btn">@Html.ActionLink("Desktop", "Index", new { Category_id = 3 })</p>
            <p class="category_btn">@Html.ActionLink("IP Phone", "Index", new { Category_id = 4 })</p>
            <p class="category_btn">@Html.ActionLink("Laptop", "Index", new { Category_id = 5 })</p>
            <p class="category_btn">@Html.ActionLink("Monitor", "Index", new { Category_id = 6 })</p>
            <p class="category_btn">@Html.ActionLink("Server", "Index", new { Category_id = 7 })</p>
            <p class="category_btn">
                            @Html.ActionLink(
                            linkText: "Log Out",
                            actionName: "Logout",
                            controllerName: "Account",
                            routeValues: null,
                            htmlAttributes: new { @style = "color: red; font-weight: bold;" })
            )</p>
            
        </div>

        @* item *@
        <div class="Item">
            <p>
                @Html.ActionLink("New product", "Create")
            </p>
            @foreach (var item in Model)
            {
                <div class="item_container">
                    <div>
                        <p class="name_label">@Html.DisplayFor(modelItem => item.ProductName)</p>
                        <p>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                    <div>
                        <p>
                            @Html.LabelFor(modelItem => item.inStock, htmlAttributes: new { @class = "control-label col-md-2" }):
                            @Html.DisplayFor(modelItem => item.inStock)
                        </p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "Edit-btn" })
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
